.aa {
  background-color: rgba(222, 234, 241, 0.694);
  padding: 40px;
  width: 95VW;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  direction: ltr;
  border-radius: 30PX;
  margin-top: 100px;
  margin-bottom: 10.5px;
  margin-left: 30px;
  margin-right: 30px;
}
.bb:hover {
  background-color: rgb(210, 232, 249);
}
.bb {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 250px;
  flex-shrink: 0;
  margin: 14px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: -14px;
  margin-left: -14px;
  border-radius: 20px;
  box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.75);
  padding-bottom: 30px;
}
.imgcc {
  width: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}
.h6dd {
  color: rgb(94, 88, 115);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 22px;
}
