
.container {
	/*padding: 20px 10px 10px 10px;*/
	/*width: 70%;
	margin: auto;*/
	padding-top: 90px;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
	justify-content: center;
	/*flex-wrap: wrap;*/
}
.containerProducts{
	/*padding: 20px 10px 10px 10px;*/
	/*width: 70%;
	margin: auto;*/
	padding-top: 90px;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
	justify-content: center;
	/*flex-wrap: wrap;*/	
}

.card_item {
	padding: 15px 30px;
	width: 30%;
	
	text-align: center;
}

.container .card_item:hover {
	transform: scale(1.02);
	transition: transform .3s;
	cursor: pointer;
}

.container .card_inner {
	background: rgba(255, 255, 255, 0.808);
	border-radius: 30px;
	padding: 30px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
	box-shadow: 5px 5px 10px 2px rgba(83, 64, 64, 0.24);
}

.container .card_item img {
	width: 180px;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 10%;
	align-items: center;
	transition: transform .2s;
}

.container .card_item .userName {
	color: #4b75c2;
	font-weight: 600;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.container .card_item .userUrl {
	font-size: 15px;
	font-weight: 100;
	margin: 5px 0 10px;
	word-wrap: break-word;
	color: #1dbea6;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container .card_item .gitDetail {
	font-size: 34px;
	line-height: 24px;
	color: #1ba880;
	display: flex;
	flex-direction: column;
}

.detail-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail-box span {
	margin: 2px;
	padding: 2px 10px;
	/* border: 2px solid #c7e6fa; */
	background-color: #f0ebfa;
	border-radius: 50px;
	font-size: 10px;
	font-weight: 600;
	color: #788697;
}

.seeMore {
	margin: 10px auto;
	width: 100px;
	height: 35px;
	background: hsl(120, 2%, 87%);
	color: rgb(10, 214, 132);
	border: none;
	border-radius: 10px;
	font-weight: 300;
	cursor: pointer;
	/*box-shadow: 0 5px 5px hsl(278, 9%, 83%);*/
}
.seeMore:hover{
	transform: scale(1.04);	
	font-weight: 400;
	box-shadow: 0 5px 5px hsl(278, 9%, 83%);
}
@media screen and (max-width: 1024px) {
	.container .card_item {
		width: 33%;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.container .card_item {
		width: 50%;
	}
	.wrapper .header {
		font-size: 16px;
		height: 50px;
	}
}

@media screen and (max-width: 568px) {
	.container .card_item {
		width: 80%;
		margin: auto;
	}
}