.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 336.2px;
    padding: 0 10px;
    margin: 15px;
    height: 336.2px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    margin-left: 170px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
     
     
      
    }
  }
  
  /* Style the counter cards */
  .card {
   
  
   
  
  }
  
  .card:hover {
    transform: scale(1.06);
  }
  
  .card > .MuiAvatar-root {
    margin-left: 80px;
    margin-top: 10px;
  }
  
  .card > p {
    margin-top: 10px;
    color: gray;
  }
  
  .card > h3 {
    margin-top: 10px;
    font-size: medium;
  }
  
  .card > .MuiAvatar-circle {
    border-style: solid;
    color: rgb(88, 24, 24);
  }
  
  .desc__color {
    color: #5ac53b !important;
    font-size: large;
  }
  
  .card__comma {
    width: 20px;
    display: flex;
    align-items: flex-start;
  }
  
  .heading__p {
    color: #a52b6c;
    margin-top: 50px;
    font-weight: bold;
  }
  
  .heading__h {
    margin-top: -10px;
  }
  
  hr.line {
    border-top: 3px dotted black;
    width: 5%;
    margin-left: 48%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  hr.footer__line {
    border-top: 5px dotted #5ac53b;
    width: 5%;
    margin-left: 48%;
    margin-top: 5px;
    margin-top: 30px;
  }
  
  .head__info {
    color: rgb(150, 68, 68);
  }
  