.tablee{
    border-radius: 30px;
    max-width: 100%;
    margin-left: 200px;
    margin-top: 100px
    
}
h1{
    margin-top: 50px;
    text-align: center;
    border-radius: 23px;
}
.cc{
    margin-left: 140px;


}