.raszeby{
    display: flex;
    margin: 100px;
    border-radius: 10px;
    background-color: rgb(209, 255, 255);
    padding: 20px;
    width: 600px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(41, 41, 41, 0.582);
}
.asba{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.coucou{
    padding-top: 5px;
}
