.appbar {
  margin-top: 25px;
  border-radius: 25px;
}
.containerappbar {
  background-color: #429EBD;
  border-radius: 25px;
  width: 90vw;
  display: flex;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.703);
}

